<div class="form-inline clearfix"> 
           
    <div class="nested-fields">
   
        <div class="input_field" >
        <%= f.text_field :name, input_html: { class: 'materialize_textarea'}, as: :text ,style: 'width: 100px; height: 80px', placeholder:'재료명 (수량g)' %>  <% link_to_remove_association 'x', f , class: 'btn-floating btn-large waves-effect waves-light red' %>
        </div>

     </div> 

</div>